.dialog {
  margin: 10px;
  border-radius: 5px;
}

.prompt {
  margin: 10px;
  border-radius: 5px;

}

.alert {
  margin: 10px;
  border-radius: 5px;

}

.editor {
  margin: 10px;
  border-radius: 5px;
  width: 85%;
  height: 85%;
}
