<div *ngIf="showNote&&note" class="editor" style="border-radius: 5px">
  <div style="background: #e8e8e8; padding: 5px; border-radius: 5px;">
    <mat-card-title (click)="editNoteName(note)"> <!--- note.name + ".md" -->
      {{note.name}}.md</mat-card-title>
    <mat-card-subtitle>Last Modified {{convertDate(note.lastModified)}}</mat-card-subtitle>
  </div>
  <!-- <textarea id="editor" name="editor" [(ngModel)]="note.content" style="width: 100%; height: auto;"></textarea> -->
  <div class="card-container" style="align-content: center; display: flex; flex-direction: row; justify-content: center;" (click)="onEditorClick($event)" (keyup)="onEditorKeyUp($event)">

    <mat-card class="editor-container">
      <mat-card-content class="card-body" style="height: inherit;">
        <textarea id="editor" name="editor" [(ngModel)]="note.content" style="width: 99%; height: 80vh; overflow: auto; resize: none; z-index: auto;" (keydown)="onTextAreaKeyDown($event)"></textarea>
      </mat-card-content>
    </mat-card>
    <mat-card class="render-container">
      <mat-card-content class="card-body">
        <div [innerHTML]="parseAndRender(note.content)"></div>
      </mat-card-content>
    </mat-card>
    <!-- put a button overlayed on the top right corner of the card -->
    <button mat-icon-button class="close-button" (click)="closeEditor()" style="position: absolute; top: 0; right: 0; z-index: 1;">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

