.editor {
  /* this is the main editor container */
  /* align it to the exact center of the page
  /* and set its width to 80% of the page */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: hidden;
  box-shadow: #c4c4c4 0 0 20px;
}

.note-card {
  /* this is the note card */
  /* I don't think anything needs to be changed here */
}

.render-container {
  /* this is the container for the rendered markdown */
  overflow: auto;
  background: #f3f3f3;
  width:45vw;
  height: 90vh;
  box-shadow: #c4c4c4 0 0 20px;
}

.editor-container {
  /* this is the container for the editor, where the user types */
  overflow: auto;
  background: #e8e8e8;
  width:45vw;
  height: 90vh;
  box-shadow: #c4c4c4 0 0 20px;
}

