<!-- include the stylesheet -->
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fileMenu">File</button>
      <mat-menu #fileMenu="matMenu">
        <button mat-menu-item (click)="openDirectory()">Open Directory</button>
        <button mat-menu-item (click)="newNote()">New Note</button>
        <button mat-menu-item (click)="saveAllNotes()">Save</button>
        <button mat-menu-item (click)="saveAsAllNotes()">Save As</button>
        <button mat-menu-item (click)="clearNotes()">Clear Notes</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="editMenu">Edit</button>
      <mat-menu #editMenu="matMenu">
        <button mat-menu-item (click)="undo()">Undo</button>
        <button mat-menu-item (click)="redo()">Redo</button>
        <button mat-menu-item (click)="cut()">Cut</button>
        <button mat-menu-item (click)="copy()">Copy</button>
        <button mat-menu-item (click)="paste()">Paste</button>
        <!-- TODO make the edit menu - all of these actions need to be implemented. Add any additional actions you want to the menu. -->
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="viewMenu">View</button>
      <mat-menu #viewMenu="matMenu">
        <button mat-menu-item (click)="appearanceMenu()">Appearance</button>
        <button mat-menu-item (click)="toggleFullScreen()">Toggle Full Screen</button>
        <!-- TODO make the view menu - all of these actions need to be implemented. Add any additional actions you want to the menu. -->
      </mat-menu>
      <button mat-menu-item (click)="openPreferencesMenu()">Preferences</button>
      <!-- the preferences menu is in app-preferences. Open it by calling openPreferencesMenu() -->
      <button mat-menu-item (click)="openHelpMenu()">Help</button>
    </mat-menu>
    <span>Jotmark</span>
    <span class="fill-remaining-space"></span>
    <!-- on the right hand side of the toolbar, add a button that refreshes the notes list -->
    <button mat-icon-button (click)="refreshNotes()">
      <mat-icon>refresh</mat-icon>
    </button>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-ui" style="display: flex; flex-wrap: wrap;">
  <!-- include each note as a separate mat-card -->
  <!-- when it is clicked it should call the selectNote() function -->
  <!-- the mat-card should have a mat-card-title with the note's title -->
  <!-- and the mat-card-content should have the note's content -->

  <ng-container *ngFor="let note of notes">
    <mat-card class="note-card" (click)="selectNote(note)">
      <mat-card-title>{{note.name}}</mat-card-title>
      <!-- render the note content as markdown -->
      <mat-card-content>
        <!-- removed the markdown pipe because it was causing issues with the note content -->
        <div [innerHTML]="note.content.slice(0, 1000)"></div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>

<!-- TODO the below is what needs to be implemented. You can use the existing code above as a reference. -->
<!--<div class="main-ui">-->
<!--  <ng-container *ngFor="let note of notes">-->
<!--    <app-note [note]="note" (noteChange)="noteChanged($event)"></app-note>-->
<!--  </ng-container>-->
<!--</div>-->
<!-- main UI: should make a card for every note -->
<!-- when the user clicks on a note, it should open in the editor -->
<!-- the editor is a separate component, and should be placed in the editor component's template -->
<!-- include the editor component in the main UI -->

