<!-- include the stylesheet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" crossorigin="anonymous">
<div [ngStyle]="{'background': getSetting('themeBackground')}" style="height: 100vh; width: 100vw; overflow: hidden">
<mat-toolbar style="z-index: 10000; position: fixed;" [ngStyle]="{'background-color': getSetting('themePrimary')}">
  <mat-toolbar-row>
    <ng-container style="justify-content: flex-start">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fileMenu">File</button>
      <mat-menu #fileMenu="matMenu">
        <!-- TODO add keyboard shortcuts for the menu items below -->
        <button mat-menu-item (click)="openDirectory()">Open Directory</button>
        <button mat-menu-item (click)="newNote()">New Note</button>
        <button mat-menu-item (click)="saveAllNotes()">Save</button>
        <button mat-menu-item [mat-menu-trigger-for]="exportMenu">Export</button>
        <mat-menu #exportMenu="matMenu">
          <button mat-menu-item (click)="exportAllNotes()">Export As Zip</button>
          <button mat-menu-item (click)="exportLaTeX()">Export As LaTeX (Zipped)</button>
        </mat-menu>
        <button mat-menu-item [matMenuTriggerFor]="recentlyDeletedMenu">Recently Deleted</button>
        <mat-menu #recentlyDeletedMenu="matMenu">
          <ng-container *ngIf="recentlyDeleted.length === 0">
            <button mat-menu-item> No Recently Deleted Notes</button>
          </ng-container>
          <button mat-menu-item *ngFor="let note of recentlyDeleted" (click)="restoreDeleted(note)">{{note.name}}</button>
          <ng-container *ngIf="recentlyDeleted.length > 0">
            <button mat-menu-item (click)="clearRecentlyDeleted()">Clear Recently Deleted</button>
          </ng-container>
        </mat-menu>
        <button mat-menu-item (click)="clearNotes()">Clear Notes</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="tagOptions">Tags</button>
      <mat-menu #tagOptions="matMenu">
        <ng-container *ngIf="totalTags.length === 0">
          <button mat-menu-item> No Tags</button>
        </ng-container>
        <ng-container *ngFor="let tag of totalTags">
          <button mat-menu-item [matMenuTriggerFor]="manageTag"> {{tag}} </button>
          <mat-menu #manageTag="matMenu">
            <button mat-menu-item> <ngx-colors ngx-colors-trigger="click" [(ngModel)]=tagColors[this.totalTags.indexOf(tag)] (ngModelChange)="changeTagColor($event, tag)"></ngx-colors>
            </button>
            <button mat-menu-item (click)="deleteTag(tag)">Delete Tag</button>
          </mat-menu>
        </ng-container>
      </mat-menu>
      <button mat-menu-item (click)="openPreferencesMenu()">Preferences</button>
      <!-- the preferences menu is in app-preferences. Open it by calling openPreferencesMenu() -->
      <button mat-menu-item (click)="openHelpMenu()">Help</button>
    </mat-menu>
    <span>Jotmark</span>
    <mat-form-field class="search-bar" appearance="outline" style="height: inherit; width: 50%; margin: 10px auto auto auto; opacity: 70%; display: flex; justify-content: center; align-items: center;">
      <input matInput placeholder="Search" [(ngModel)]="searchTerm">
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="tagMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #tagMenu="matMenu">
      <ng-container *ngIf="totalTags.length == 0">
        <button mat-menu-item>No Tags</button>
      </ng-container>
      <ng-template matMenuContent>
        <mat-selection-list>
          <mat-list-option *ngFor="let tag of totalTags" [selected]="selectedTags.includes(tag)" (click)="toggleTag(tag)">
            {{tag}}
          </mat-list-option>
        </mat-selection-list>
      </ng-template>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="sort">
      <mat-icon>sort</mat-icon>
    </button>
    <mat-menu #sort="matMenu">
      <button mat-menu-item (click)="sortBy('name')">
        <div [ngStyle] = "{'color' : sortParameter == 'name' ? 'black': 'grey'}" >
          Name
        </div>
      </button>
      <button mat-menu-item (click)="sortBy('last modified')">
        <div [ngStyle] = "{'color' : sortParameter == 'last modified' ? 'black': 'grey'}" >
          Last Modified
        </div>
      </button>
    </mat-menu>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-ui">
  <div class="notes-list" style="overflow: auto; display: flex; flex-wrap: wrap; z-index: 1;" [ngStyle]="{'background': getSetting('themeBackground')}">
    <!-- if there are no notes, display a message -->
    <div *ngIf="notes.length === 0" class="no-notes-message" [style.background-color]="getSetting('defaultNoteColor')">
      <mat-card style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <mat-card-title style="margin: 10px;" [ngStyle]="{'color': getSetting('themeText')}">
          No notes yet.
        </mat-card-title>
        <mat-card-content>
          <p>Click the "New Note" button to create a new note.</p>
          <p>Click the "Open Directory" button to open a directory of notes.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="newNote()">New Note</button>
          <button mat-button (click)="openDirectory()">Open Directory</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- display any pinned notes first -->
    <div *ngIf="pinnedNotes.length > 0">
      <ng-container *ngFor="let note of pinnedNotes">
      </ng-container>
    </div>
    <ng-container *ngFor="let note of searchNotes(notes)">
      <!-- if there is a tag connected to the service, and if there is a color associated with that tag, set the background color of the service to that color -->
      <mat-card class="note-card" [style.background-color]="note.tags.length > 0 ? tagColors[totalTags.indexOf(note.tags[0])] : getSetting('defaultNoteColor')" style="overflow: hidden">
        <div style="max-height: 300px; overflow: auto">
          <mat-card-content (click)="handleNoteClick(note)"> <!-- moved from the service card to the content so it does not interfere with tags -->
            <!-- if the service content is empty, then render a placeholder "empty service" message -->
            <ng-container *ngIf="note.content.length === 0" [ngStyle]="{'background': getSetting('defaultNoteColor')}">
              <p style="font-style: italic;" [ngStyle]="{color: getSetting('themeSecondaryText')}">Empty note. Click to edit.</p>
            </ng-container>
            <div [innerHTML]="parseAndRender(note.content)" style="overflow: auto; max-height: 90%"></div>
          </mat-card-content>
        </div>
        <mat-card-footer class="footer" [style.background-color]="(note.tags.length > 0 ? tagColors[totalTags.indexOf(note.tags[0])] : getSetting('themeBackgroundAlt'))">
          <mat-card-actions>
            <button mat-icon-button (click)="pin(note)">
              <mat-icon>{{note.pinned ? 'push_pin' : 'push_pin_outlined'}}</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteNoteByIndex($event, notes.indexOf(note))">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="tagMenu">
              <mat-icon>label</mat-icon>
            </button>
            <div class="tags-list" cdkDropList (cdkDropListDropped)="dropTag(note, $event)">
              <ng-container *ngFor="let tag of note.tags">
                <mat-chip (click)="filterByTag(tag)" cdkDrag [ngStyle]="{color: getSetting('themeAccent')}">{{tag}}
                  <mat-icon (click)="removeTagFromNoteByIndex(note, $event, note.tags.indexOf(tag))" matChipRemove>cancel</mat-icon>
                </mat-chip>
              </ng-container>
            </div>

            <mat-menu #tagMenu="matMenu">
              <!-- make a button for adding a new tag to the service that calls addTagToNote() -->
              <!-- on click it should open a material design dialog that asks for the tag name -->
              <button mat-menu-item (click)="addNewTagToNote(note)">New Tag</button>
              <!-- for each tag in the tags list, add a menu item that adds the tag to the service -->
              <ng-container *ngFor="let tag of totalTags">
                <button mat-menu-item (click)="addTagToNote(note, tag)">{{tag}}</button>
              </ng-container>
            </mat-menu>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </ng-container>
  </div>
  <div class="add-button" style="position: fixed; bottom: 0; right: 0; z-index: 1; padding: 20px; scale: 1.2;">
    <button mat-fab class="add-button" (click)="newNote()" [ngStyle]="{color: getSetting('themeAccent'), background: getSetting('themePrimary')}">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
</div>
