<!-- include the stylesheet -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" crossorigin="anonymous">
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fileMenu">File</button>
      <mat-menu #fileMenu="matMenu">
        <!-- TODO add keyboard shortcuts for the menu items below -->
        <button mat-menu-item (click)="openDirectory()">Open Directory</button>
        <button mat-menu-item (click)="newNote()">New Note</button>
        <button mat-menu-item (click)="saveAllNotes()">Save</button>
        <button mat-menu-item (click)="saveAsAllNotes()">Save As</button>
        <button mat-menu-item (click)="clearNotes()">Clear Notes</button>
      </mat-menu>
      <button mat-menu-item [matMenuTriggerFor]="viewMenu">View</button>
      <mat-menu #viewMenu="matMenu">
        <!-- view recently deleted notes -->
        <button mat-menu-item [matMenuTriggerFor]="recentlyDeletedMenu">Recently Deleted</button>
        <button mat-menu-item (click)="appearanceMenu()">Appearance</button>
        <button mat-menu-item (click)="toggleFullScreen()">Toggle Full Screen</button>
        <!-- TODO make the view menu - all of these actions need to be implemented. Add any additional actions you want to the menu. -->
        <mat-menu #recentlyDeletedMenu="matMenu">
          <button mat-menu-item *ngFor="let note of recentlyDeleted" (click)="restoreDeleted(note)">{{note.name}}</button>
        </mat-menu>
      </mat-menu>
      <button mat-menu-item (click)="openPreferencesMenu()">Preferences</button>
      <!-- the preferences menu is in app-preferences. Open it by calling openPreferencesMenu() -->
      <button mat-menu-item (click)="openHelpMenu()">Help</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="tagMenu">
      <mat-icon>label</mat-icon>
    </button>
    <mat-menu #tagMenu="matMenu">
      <ng-template matMenuContent>
        <mat-selection-list>
          <mat-list-option *ngFor="let tag of totalTags" [selected]="selectedTags.includes(tag)" (click)="toggleTag(tag)">
            {{tag}}
          </mat-list-option>
        </mat-selection-list>
      </ng-template>
    </mat-menu>
    <span class="spacer"></span>
    <span>Jotmark</span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <mat-form-field class="search-bar" style="width: content-box; height: inherit; margin: 5px 10px;">
      <input matInput placeholder="Search" [(ngModel)]="searchTerm">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-ui">
  <div class="notes-list" style="display: flex; flex-wrap: wrap; z-index: 1;">
    <!-- if there are no notes, display a message -->
    <div *ngIf="notes.length === 0" class="no-notes-message">
      <mat-card style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <mat-card-title style="margin: 10px;">
          No notes found
        </mat-card-title>
        <mat-card-content>
          <p>Click the "New Note" button to create a new note.</p>
          <p>Click the "Open Directory" button to open a directory of notes.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="newNote()">New Note</button>
          <button mat-button (click)="openDirectory()">Open Directory</button>
        </mat-card-actions>
      </mat-card>
    </div>
  <ng-container *ngFor="let note of searchNotes(notes)">
    <mat-card class="note-card">
      <div style="max-height: 200px; overflow: auto">
      <mat-card-content (click)="handleNoteClick(note, $event)"> <!-- moved from the note card to the content so it does not interfere with tags -->
        <div [innerHTML]="parseAndRender(note.content)" style="overflow: auto"></div>
        <div class="fill-remaining-space"></div>
      </mat-card-content>
      </div>
      <div class="fill-remaining-space"></div>
      <mat-card-footer>
        <div class="fill-remaining-space"></div>
        <mat-card-actions>
          <button mat-icon-button (click)="deleteNoteByIndex($event, notes.indexOf(note))">
            <mat-icon>delete</mat-icon>
          </button>
          <ng-container *ngFor="let tag of note.tags">
            <mat-chip (click)="filterByTag(tag)" color="primary">{{tag}}
              <mat-icon (click)="removeTagFromNoteByIndex(note, $event, note.tags.indexOf(tag))" matChipRemove>cancel</mat-icon>
            </mat-chip>
          </ng-container>
          <button mat-icon-button [matMenuTriggerFor]="tagMenu">
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu #tagMenu="matMenu">
            <!-- make a button for adding a new tag to the note that calls addTagToNote() -->
            <!-- on click it should open a material design dialog that asks for the tag name -->
            <button mat-menu-item (click)="addNewTagToNote(note)">Add Tag</button>
            <!-- for each tag in the tags list, add a menu item that adds the tag to the note -->
            <ng-container *ngFor="let tag of totalTags">
              <button mat-menu-item (click)="addTagToNote(note, tag)">{{tag}}</button>
            </ng-container>
          </mat-menu>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </ng-container>
  </div>
  <div class="editor" style="position: fixed; z-index: 2;">
    <app-editor *ngIf="selectedNote" [note]="selectedNote"></app-editor>
  </div>
</div>
